---
import NavbarSubmenu from './NavbarSubmenu.astro'
let {item} = Astro.props
---

{item.slug ? 
    <li class="relative group">
      <a href={item.slug} class="ud-menu-scroll text-base text-dark lg:text-white lg:group-hover:opacity-70 lg:group-hover:text-white group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0">
        {item.text}
      </a>
    </li>
: { item.items && 
    <li class="relative group submenu-item">
    <NavbarSubmenu menu={item}/>
    </li>
  }
}