---
let {title} = Astro.props
---
{ title &&
  <h2
    class="
      font-bold
      text-dark text-[26px]
      sm:text-3xl
      md:text-4xl
      leading-snug
      sm:leading-snug
      md:leading-snug
      mb-6
      wow
      fadeInUp
    "
    data-wow-delay=".1s
    "
  >
    {title}
  </h2>
}
<article class="prose prose-stone prose-xl">
  <slot name="content" />
</article>