---
import { Icon } from 'astro-icon'
import Card from "../Card/Card.astro"
import defaultData from "./summarygrid.json"
let {summarygrid} = Astro.props
if(!summarygrid){
  summarygrid = defaultData
  console.log("using default summarygrid")
}
let {title, items} = {...summarygrid}
---
<div class="flex flex-wrap -mx-4">
  <div class="w-full px-4 mt-14 wow fadeInUp" data-wow-delay=".2s">
    <h2
      class="
        font-semibold
        text-dark text-2xl
        sm:text-[28px]
        pb-5
        relative
      "
    >
      {title}
    </h2>
    <span class="h-[2px] bg-primary w-20 mb-10 inline-block"></span>
  </div>
  { items && items.map(card =>
  <div class="w-full md:w-1/2 lg:w-1/3 px-4">
    <div class="mb-10 group wow fadeInUp" data-wow-delay=".15s">
      <Card {card} />
    </div>
  </div>
  )}
</div>
