---
import Item from "../Item/Item.astro"
import Link from '../Link/Link.astro'
let {share} = Astro.props
let {items} = {...share}
---
<div
  class="flex items-center md:justify-end wow fadeInUp space-x-2"
  data-wow-delay=".1s"
>
  {items && items.map(item=>
    <Link href={item.href}>
      <Item {item} slot="content" />
    </Link>
  )}
</div>

